body{
    color: #495867;
    background-color: #F7F7FF;
    text-align: center;
    background-image: url('images/hvalerHelene.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.navbar{
    background-color: #577399;
    color:#F7F7FF ;
}

.jumbotron{
    background-color: #BDD5EA;
}

h1{
    color: #FE5F55;
    font-weight: bold;
    margin-top: 20rem;
    margin-bottom: 20rem;
}

.hoverable:hover{
    background-color: #495867;
    color: #F7F7FF;
}

.card{
    margin: auto;
    width: 80%;
}

.card-header{
    background-color: #577399;
    color: #F7F7FF;
}

.card-body{
    background-color: #F7F7FF;
    display: none;
}

.open-gift-button{
    background-color: #577399;
    color: #F7F7FF;
    margin: 0.5rem;
}

.gift-curtain{   
    position: relative; 
    border: 6px solid #577399;
    border-radius: 3px;
    width: 80%;
    margin: auto;
}

#curtains{
    position: absolute;
    z-index: 1;
    top: 0;
}
#curtains-frame{
    position: absolute;
    z-index: 3;    
}
#curtains-frame2{
    z-index: 3;    
}


/* LAPTOP */
#gift-curtain-laptop{
    background-image: url('images/laptopGift.jpg');
    background-size: cover;
}

#card-laptop{
    display: none;
}
